body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f9fc;
  /* background: linear-gradient(135deg, #f186ff, #b923ff); */
  color: #333;
  text-align: center;
}

.form-container {
  background: linear-gradient(124deg, #ff84f9, #ddeaf0);
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  scrollbar-color: initial;
}

.form-container:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  transform: rotateX(10deg);
  animation: normalize 0.6s forwards;
  transition: transform 0.6s;
}
input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ff9bd5;
  border-radius: 12px;
  box-sizing: border-box;
}

button {
  background-color: #fd91cd;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.Bienvenida {
  font-size: 24px;
  color: #ff1493;
  margin: 20px 0;
}

.Bienvenida button {
  margin: 0 10px;
}

@keyframes normalize {
  to {
    transform: rotateX(0deg);
  }
}

.Bienvenida button:hover {
  background-color: #ec68b1;
  color: white;
  transform: rotateX(10deg);
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}
